@font-face {
    font-family: 'MarketSans';
    src: url('/static/auctions/MarketSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    display: swap;
}
@font-face {
    font-family: 'MarketSans';
    src: url('/static/auctions/MarketSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    display: swap;
}
body {
    font-family: MarketSans;
    margin: 0;
    background-color: white;
    color: #191919;
}
header {
    display: flex;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 7%;
    padding-right: 7%;
}
section {
    margin-block-start: 1em;
    padding-left: 7%;
    padding-right: 7%;
}
h2 {
    color: #191919;
    font-size: 22px;
    line-height: 28px;
}
a {
    color: #191919;
    text-decoration: none;
    font-weight: normal;
}
textarea {
    border-color: #e5e5e5;
    border-radius: 8px;
    border-width: 1px;
    background-color: #f7f7f7;
    font-size: 0.875rem;
    padding: 10px;
    width: 100%;
    resize: vertical;
}
a:hover {
    text-decoration: underline;
}
a.nav-link {
    color: #191919;
    transition: all 0.3s;
    text-decoration: none;
}
a.nav-link:hover {
    color: #382aef;
}
input.form-control {
    border-color: #e5e5e5;
    border-radius: 8px;
    border-width: 1px;
    background-color: #f7f7f7;
    font-size: 0.875rem;
    padding: 10px;
    width: 25%;
}
input.button-comment {
    font-size: 15px;
    border-radius: 25px;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #3665f3;
    color: white;
    border: 1px solid #3665f3;
    margin-top: 10px;
    margin-bottom: 1em;
}
button.button-offer {
    font-size: 1rem;
    border-radius: 25px;
    font-weight: bold;
    padding: 13px 20px;
    cursor: pointer;
    background-color: #3665f3;
    color: white;
    min-height: 48px;
    border: 1px solid #3665f3;
    margin-top: 1em;
}
button.button-offer:hover, button.button-offer:active, input.button-comment:hover, input.button-comment:active {
    filter: brightness(92%);
}
::marker {
    color: transparent;
}
.login-status {
    font-size: 12px;
    padding-left: 7%;
    padding-right: 7%;
    margin-top: 6px;
    margin-bottom: 6px;
}
.nav {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 75px;
    align-items: center;
}
.badge {
    background-color: #3665f3;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 7px;
    font-size: 10px;
}
.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.row {
    width: 240px;
    margin-bottom: 30px;
    position: relative;
}
.text-danger {
    font-size: 20px;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 25px;
    padding: 8px;
    z-index: 1;
    position: absolute;
    display: flex;
    color: #c94c4c;
    right: 10px;
    top: 10px;
}
.text-danger:hover {
    text-decoration: none;
}
.product-list-image {
    border-radius: 16px;
    width: 240px;
    height: 240px;
    object-fit: cover;
}
.product-list-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: .875rem;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
    white-space: normal;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    line-height: 20px;
    min-height: 36px;
    margin-bottom: 0;
}
.product-list-price {
    margin-top: 6px;
    font-weight: bold;
}
.text-success {
    text-align: center;
}
.product-page-image {
    width: 100%;
    max-height: 562px;
    object-fit: contain;
    border-radius: 16px;
}
.product-page-title {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
    padding-bottom: 1em;
    font-size: 1.375rem;
    line-height: normal;
    word-wrap: normal;
}
.product-page-author {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0;
    padding-bottom: 1em;
}
.product-page-price {
    font-size: 1.5rem;
    margin-bottom: 0;
}
.product-page-bid {
    margin: 0;
    color: #707070;
}
.input-group-prepend {
    display: grid;
}
.tab {
    box-shadow: 4px -1px 0 #f7f7f7;
    width: 150px;
    padding: 12px 0px;
    margin: 4px -1px 0 0;
    display: inline-block;
    position: relative;
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    border-radius: 3px 3px 0px 0px;
    background-color: white;
}
.tab-info {
    margin: 0;
    font-size: .8125rem;
    font-weight: bold;
    color: #3665f3;
    text-align: center;
}
.tab-content {
    border: 1px solid #e5e5e5;
    margin-top: -1px;
    padding: 20px 20px 20px 15px;
    border-radius: 0px 3px 3px 3px;
}
.product-attribute {
    font-size: .875rem;
    color: #707070;
}
.comments {
    background-color: #f7f7f7;
    padding: 48px;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
}
.comment-form {
    width: 33%;
    padding-right: 48px;
    border-right: 1px solid #e5e5e5;
}
.comment-card {
    width: 67%;
    padding-left: 48px;
}
.card-header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}
.comment-author {
    font-size: .75rem;
    color: #707070;
    margin: 0;
}
.card-body {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    word-break: break-word;
}
.login-form {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.login-title {
    margin-bottom: 0;
    line-height: 32px;
    padding-bottom: 8px;
}
.form-box {
    display: grid;
    gap: 10px;
    justify-content: center;
    width: 350px;
}
.error {
    color: #c94c4c;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}
.register-box {
    width: 50%;
    justify-content: center;
    align-items: center;
    display: grid;
}