{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{% static '/auctions/favicon.ico' %}" />
        <link rel="preload" href="{% static '/auctions/MarketSans-Regular.woff2' %}" as="font" crossorigin="" type="font/woff">
        <link rel="preload" href="{% static '/auctions/MarketSans-SemiBold.woff2' %}" as="font" crossorigin="" type="font/woff">
        <link href="{% static '/auctions/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    </head>
    <body>
        <div class="login-status">
            {% if user.is_authenticated %}
                Hi! You signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Hi! You not signed in.
            {% endif %}
        </div>
        <header>
            <a href="/" aria-label="home">
        <img class="logo" src="/static/auctions/logo-light.png" style="width:117px" alt="Ebay">
        </a>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'categories' %}">Categories</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watchlist' %}">WatchList <span class="badge">{{ user.watchlist_counter }}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>
