{% extends "auctions/layout.html" %}

{% block body %}
    <section>
        {% if auction.winner is not None %}
            {% if user == bid.user %}
                <h2 class="text-success">Highest bid, you are the winner!</h2>
            {% endif %}
        {% endif %}
        <div style="display: flex; gap: 15px;">
            <div style="width: 50%;">
                <img src="{{ auction.image_url }}" class="product-page-image">
            </div>
            <div style="width: 50%;">
                <div class="project-info-box">
                    <h3 class="product-page-title">{{ auction.title }}</h3>
                    <p class="product-page-author"><b>Author: </b> {{ auction.user }}</p>
                    {% if auction.price %}
                        <p class="product-page-price"><b>Price: US ${{ auction.price }}</b></p>
                    {% else %}
                        <p class="product-page-price"><b>Price: US Not Specified</b></p>
                    {% endif %}
                    {% if user == bid.user %}
                        {% if auction.winner is not None %}
                            <h5 class="product-page-bid">{{ auction.bid_counter }} Bid(s) in total.<span>Congratulations, {{ bid.user }}! 🎊</span></h5>
                        {% else %}
                            <h5 class="product-page-bid">{{ auction.bid_counter }} Bid(s) so far.<span>Your bid is the current bid.</span></h5>
                        {% endif %}
                    {% else %}
                        <h5 class="product-page-bid">{{ auction.bid_counter }} Bid(s) so far.</h5>
                    {% endif %}
                    <p>Current Bid: <strong>${{ bid.amount }}</strong><p>
                    {% if auction.winner is None %}
                        <p>Status: <strong>Available</strong></p>
                    {% else %}
                        <p>Status: <strong style="color: #c94c4c;">Sold</strong></p>
                    {% endif %}
                    {% if not auction.user == user %}
                        <form action="{% url 'update_bid' bid.id %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                {% if auction.winner is not None %}
                                    {% if bid.user == user %}
                                        <div class="input-group-prepend">
                                            <input disabled class="form-control" type="number" min="{{ bid.amount }}" step="0.01" max="99999999999.99" name="bid" placeholder="Your won with a bid of: ${{ bid.amount }}">
                                            <button disabled class="button-offer" type="submit">Winner</button>
                                        </div>
                                    {% else %}
                                        <div class="input-group-prepend">
                                            <input disabled class="form-control" type="number" min="{{ bid.amount }}" step="0.01" max="99999999999.99" name="bid" placeholder="Highest bid: ${{ bid.amount }}">
                                            <button disabled class="button-offer" type="submit">Lot Sold</button>
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="input-group-prepend">
                                        <input required class="form-control" type="number" min="{{ bid.amount }}" step="0.01" max="99999999999.99" name="bid" placeholder="Current Bid: ${{ bid.amount }}">
                                        <button class="button-offer" type="submit">Bid Now!</button>
                                    </div> 
                                {% endif %}
                            </div>
                        </form>
                    {% else %}
                        <form action="{% url 'close_bid' bid.id %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <input disabled type="text" class="form-control" placeholder="Last bid: {{ bid.user }} (${{ bid.amount }})">
                                    <button class="button-offer" type="submit">Close Bid</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="product-page-description">
            <p>Created at: <strong>{{ auction.created_at }}</strong></p>
            <p>Last Updated: <strong>{{ bid.created_at }}</strong></p>
            {% if auction.category %}
                <p>Category: <strong>{{ auction.category | title }}</strong></p>
            {% else %}
                <p>Category: <strong>Not Listed.</strong></p>
            {% endif %}
            <div style="margin-top: 2em;">
                <p>Description:</p>
                <p>{{ auction.description }}</p>
            </div>
        </div>
        <div style="border-bottom: 1px solid #c7c7c7;">
            <h5 style="margin-bottom: 10px;">Comments:</h5>
            <form action="{% url 'add_comment' auction.id %}" class="form-group" method="POST">
                {% csrf_token %}
                {{ comment_form }}
                <input class="button-comment" type="submit" value="Add comment">
            </form>
        </div>
        {% for comment in comments %}
            <div class="card mb-3">
                <div class="card-header">
                    <p class="h5 text-muted">{{ comment.user }} - <span
                            class="text-muted lead">{{ comment.created_at }}</span></p>
                </div>
                <div class="card-body">
                    <p class="card-text lead">{{ comment.text }}</p>
                </div>
            </div>
        {% empty %}
            <p class="display-4 pb-5 ml-3">No comments for this auction yet.</p>
        {% endfor %}
    </section>
{% endblock %}