{% extends "auctions/layout.html" %}
<!-- Extends the base layout -->

{% block body %}
    <div class="login-form">
        <!-- Login form container -->
        <h2 class="login-title">Sign in to your account</h2>
        <!-- Login title -->

        {% if message %}
            <span class="error">{{ message }}</span>
            <!-- Display error message if it exists -->
        {% endif %}

        <span style="font-size: 14px; margin-bottom: 2em;">
            New to _niezle_ziolko? 
            <a href="{% url 'register' %}" style="text-decoration: underline;">Create account</a>
        </span>
        <!-- Link to create a new account -->

        <form class="form-box" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <!-- CSRF token for security -->

            <input autofocus class="form-control" type="text" name="username" placeholder="Username" style="width: 350px;">
            <!-- Input for username -->

            <input class="form-control" type="password" name="password" placeholder="Password" style="width: 350px;">
            <!-- Input for password -->

            <button class="button-offer" type="submit">Login</button>
            <!-- Submit button -->
        </form>
    </div>
{% endblock %}
<!-- End body block -->